#my-work {
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(85, 85, 85);
  font-family: "PlayfairDisplay";
}

#projects {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  align-items: stretch;
}

.project {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 8px 2px grey;
  height: 100%;
}

.project-row,
.project-desc {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  hyphens: auto;
  text-align: justify;
  align-items: center;
}

.project-desc {
  flex-grow: 1;
  margin-top: -2rem;
  color: gray;
}

.project-name {
  font-family: "PlayfairDisplay";
  font-weight: 400;
  color: black;
}

.project > img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.project-links {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 1.4rem;
}

.project-links > a:hover {
  transition: transform 0.25s ease-in-out;
  transform: scale(1.5);
}

.project-github,
.project-preview {
  text-decoration: none;
  color: black;
  margin: auto;
}

.project-preview {
  transform: translateY(1px);
}

@media (max-width: 600px) {
  main {
    padding: 10%;
  }
  #my-work {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  main {
    padding: 10%;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 5%;
  }
}
