:root {
  --primary-color: #0891b2;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/PlayfairDisplay.ttf") format("TrueType");
}

h5 {
  margin: 0;
}

/* 
#portrait-container {
  float: left;
  position: relative;
  margin-right: 1rem;
}

#portrait-img {
  width: 20rem;
  height: auto;
  z-index: 0;
  filter: brightness(85%);
  box-shadow: 1px 2px 5px 0px grey;
  margin-top: -4rem;
}

#portrait-name {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
  margin-bottom: 16px;
  color: white;

  font-size: 2rem;
  font-weight: 200;
  font-family: "PlayfairDisplay";
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about-me-container {
  width: 100%;
  background-color: white;
  padding: 2rem;
  box-shadow: 1px 2px 5px 1px grey;
}

#about-me-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about-me {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  color: rgb(85, 85, 85);
  font-family: "PlayfairDisplay";
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 1.4rem;
}

.socials a {
  text-decoration: none;
  color: black;
}

.socials a:hover {
  transform: scale(1.5);
  transition: transform 0.25s ease-in-out;
}

.devicon-itch-io {
  content: url("../assets/itch.svg");
  transform: translateY(0.1rem);
  height: 1.4rem;
} */

/* #portrait-container {
  float: left;
  position: relative;
  margin-right: 1rem;
} */

body {
  max-width: 1800px;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr 0.2fr;
  min-height: 100vh;
  font-family: "Roboto";
}

@media (max-width: 600px) {
  header {
    padding: 10%;
  }

  header::before {
    content: "";
    width: 100vw;
    height: 800px;
    position: absolute;
    top: -500px;
    left: 0;
    background-color: var(--primary-color);
    z-index: -1;
    transform: skewY(-10deg);
    box-shadow: 0px 2px 10px 0px grey;
  }

  #portrait-img {
    width: 80vw;
    height: auto;
    z-index: 0;
    filter: brightness(85%);
    box-shadow: 1px 2px 5px 0px grey;
  }

  #portrait-name {
    position: absolute;

    color: white;
    z-index: 2;
    font-weight: 200;
    font-family: "PlayfairDisplay";

    text-align: left;
    font-size: 3rem;
    bottom: 1rem;
    left: 1rem;
  }

  #about-me-container {
    text-align: justify;
  }

  #about-me {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
    font-family: "PlayfairDisplay";
  }

  .socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    font-size: 1.4rem;
  }

  .socials a {
    text-decoration: none;
    color: black;
  }

  .devicon-itch-io {
    content: url("../assets/itch.svg");
    transform: translateY(0.1rem);
    height: 1.4rem;
  }
}
