:root {
  --primary-color: #0891b2;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/PlayfairDisplay.ttf") format("TrueType");
}

* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

h5 {
  margin: 0;
}

body {
  max-width: 1800px;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  font-family: "Roboto";
  overflow-x: hidden;
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 1.4rem;
}

.socials a {
  text-decoration: none;
  color: black;
}

.devicon-itch-io {
  content: url("../assets/itch.svg");
  transform: translateY(0.1rem);
  height: 1.4rem;
}

.socials a:hover {
  transition: transform 0.25s ease-in-out;
  transform: scale(1.5);
}
